@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
    font-family: "Nunito", sans-serif,;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
body{
    margin: 0;
    font-weight: 400;

}
header{
    position: relative;
    display: flex;
    justify-content: space-between;

    background-color: rgb(36, 34, 34);
    height:60px;
}
.mypet{
    text-decoration: none;
    color: white;
    display: inline-block;
    opacity: 0.8;
    font-size:30px;
    padding:10px;

}


.top{
    background-image:url(/img/dogdisplay.png);
    background-size:cover;
    text-align: center;
    opacity:0.7;
    padding:180px 0 100px 0;
    line-height: 1.2;
}
button{
    padding:5px 8px;
    border-radius: 15%;
    display:inline-block;
    cursor:pointer;
    /* border:none; */
    opacity:0.8;
}
button:hover,
a:hover{
    opacity:1;
}
.pet-list{
    border-bottom:1px solid;
    margin-bottom:50px;
}
.pet-name{
    display: flex;
    align-items: center;
}
input{
    padding:5px;
    box-sizing:border-box;
    text-align: center;

}
input[type="checkbox"]:checked + span{
    text-decoration: line-through;
    color:#ccc;

 }
.link{
    text-decoration: none;
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    background-color: #55acee;
}
.status{
    list-style: none;

}
.status > div{
    display:inline-block;
}
.status-item{
    display:inline-flex;
    line-height: 18px;
}
.status-link{
    text-decoration: none;
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;

}
.delete-btn{
    float: right;
}

.error{
    color:red;
    font-size: 20px;
    margin-top: 8px;
}

li{
    padding-bottom: 10px;

    line-height: 30px;
}
.pet-meal{
    display: inline-block;
    /* margin-right: 80px; */
}
.form-text{
    text-align: center;
}
.form-group{
    padding-top:30px;
}

.on{
    display: flex;
    color:white;
    display: none;
    background-color: #55acee;

}

.chart{
    background:#ffe; width:600px; height:300px;
    display:flex;
    margin-left:200px;


}

.petstatus{
    display:flex;
}
.meal-list{
    width:160px;
}
.morning{
    background-color: rgb(247, 177, 47);
}
.noon{
    background-color: rgb(243, 223, 47);
}
.night{
    background-color: rgb(41, 41, 224);
}
ボ
ボタン
変える
